%body
	%h1.center_title
		%small
			= @user.name + "'s profile"
			- if current_user != @user
				= link_to "Follow", follow_user_path(@user)
				= link_to "Unfollow", unfollow_user_path(@user)

	.detail_div
		%table.table.table-bordered.table-striped
			%tr
				%td.lead
					= "name"
				%td.lead
					= "email"
				%td.lead
					= "Jewtter since"
				%td.lead
					= "Last time online"
				%td.lead
					= "Number of jewts"
				%td.lead
					= "follow"
				%td.lead
					= "followed by"
			%tr
				%td
					= @user.name
				%td
					= @user.email
				%td
					= @user.created_at.strftime("%d %b. %Y")
				%td
					= @user.last_sign_in_at.strftime("%d %b. %Y")
				%td
					= @user.posts.count
				%td
					- @user.all_following.each do | followed |
						= followed.name
				%td
					- @user.user_followers.each do | follower |
						= follower.name
