%h1.text-center.lead
	= "Details of " + @post.name 
.detail_div
	%table.table.table-bordered.table-striped
		%tr
			%td.lead
				= "Author"
			%td.lead
				= "Title"
			%td.lead
				= "Content"
			%td.lead
				= "Posted"
			%td.lead
				= "Last Update"

		%tr
			%td
				= link_to @post.user.name, user_path(@post.user)
			%td
				= @post.name
			%td
				= @post.text
			%td
				= @post.created_at.strftime("%d %b. %Y")
			%td
				= @post.updated_at.strftime("%d %b. %Y")